* {
  box-sizing: border-box;
}

#bar_holder {
  display: flex;
  align-items: flex-end;
  width: 90vw;
  height: 500px;
  background-color: rgb(0, 18, 26);
}

.bar {
  width: 4vw;
  margin: 5px;
  background-color: deeppink;
}
